/* tag ile kullanımı */
/* p{
    background-color:black;
} */
/* id ve class ile kullanımı */
/* #parag_id{
    background-color:orange;
} */

/* .paragraph_class{
    background-color:blue;
} */

/* color, background-color, important */
#parag_id{
    color: red;
    color:#ff0000;
    color: rgba(255, 0, 0, 0.9);
    color:hsl(0, 100%, 50%);
    color:hsl(0, 100%, 50%);
    color:hsla(0, 100%, 50%, 0.9);

    background-color: purple !important;
    background-color: blue;
 
    /* padding: 10px 15px 25px 12px; */
    /* padding: 10px 20px 15px; */
    /* padding: 15px 20px; */
    /* padding: 10px; */
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 12px;

    
    /* margin: 10px 20px 15px; */
    /* margin: 15px 20px; */
    /* margin: 10px; */
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 12px;
}

/* border border radius */
#div_id{
    background-color: black;
    color: yellow;
    padding:25px;
    margin-bottom: 10px;
    /* border-width: 20px;
    border-style: solid;
    border-color: red; */
    border:20px solid red;
    /* border-radius: 2px 15px 50px 3px; */
    /* border-radius: 40px 5px; */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    
}
/* text */
#parag_id4{
    font-family: "Fira Code", serif;
    background-color: black;
    color: lightblue;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.5;
    padding-left: 10px;
    text-shadow: 2px 3px 4px yellow;
}
/* column-count */
.column-container{
    column-count: 3;
    column-rule: 1px solid red;
    text-transform: capitalize;
    text-align: justify;
    column-gap: 20px;
}
/* line-clamp */
.line-clamp4{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    /* other for browser */
    display: -moz-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* link */
#youtube_a:hover{
    color: #ff0000;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;

}
.youtube_width_height{
    background-color: blue;
    margin-top: 5px;
    width: 200px;
    height: 50px;
}
.youtube_width_height:hover{
    background-color:red;
    color: white;
    margin-top: 5px;
    width: 200px;
    height: 50px;
    cursor: move;
}

/* transition - transform box-shadow */
.ytt_transition_transform{
    background-color: blue;
    color: red;
    height: 100px;
    width: 75%;
    padding: 10px;
    transition: width 3s ease-in-out 0.3s, background-color 0.5s linear;
   box-shadow: 10px 2px 4px 1px rgba(0,0,0,0.5);
}

.ytt_transition_transform:hover{
    background-color: purple;
    color: black;
    width: 100%;
    transform: rotate(45deg);
    transform: scale(1.5);
    transform: translate(50px, -50px);
    transform: skew(30deg, -30deg);
}
/* display_ display box_sizing */
/* .ytt_display{
    display: none;
    visibility: hidden;
   
} */
.ytt_display{
    display: inline-block;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 5px;
    width: 200px;
    height: 100px;
}
/* List */
.menu{
    background-color: red;
    overflow: hidden;
}
.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}
.menu li{
  float: left;
}
.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* table */
.custom-table{
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}
.custom-table td, .custom-table th{
border: 1px solid red;
text-align: center;
}
.custom-table{
    background-color: yellow;
}
.custom-table tbody tr:nth-child(even){
    background-color: aqua;
}